body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
   }
.row
{
    width: 100%;
}
/*sticky header position*/
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}


nav {
  background: #eaebec;
  min-height: 85px;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin: auto;
}
.logo
{
    height: 166px;
    width: 100%;
    background: #090942;
}
.logo_image
{
    text-align: center;
    height: 180px;
    padding: 12px 0px 29px 0px;
}
.fa-envelope-o 
{
    font-size: 29px;
    color: red;
    display: flex;
}
.fa-phone:before {
    content: "\f095";
    padding-top: 5px;
}
.mail_ph
{
padding: 33px 34px 31px 46px;
}
.icon_logo
{
    padding: 0px 07px;
}
.login_h3
{
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
}
.container2
{
    margin-left:73px;
}
.container3
{
    margin-left: 39px;
}
.mail
{
    font-size: 19px;
    color: white;
    letter-spacing: 1px;
    padding-left: 23px;
    padding-top: 4px;
    Font-Family: 'Roboto', Sans-Serif;
}

/*letter*/
.ml15 {
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  
  .ml15 .word {
    display: inline-block;
    line-height: 1em;
  }
/*letter*/
/*letter*/
.ml16 {
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  
  .ml16 .word {
    display: inline-block;
    line-height: 1em;
  }

/*letter*/
.marquee{
  display:block;
position:relative;
width:800px;
height:160px;
animation:scroll 10s linear infinite;
padding:3px;
}

.marquee:hover {
    animation-play-state: paused
}

.img1 {
    width: 60px;
    height: 60px;
    /* background-color: #f6f6f6; */
    margin: 3px 82px;
    float: left;
}
.images_1
{
    height: 94px;
}

/* Make it move */
@keyframes scroll{
0% {left:800px;}
100% {left:-800px;}
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    padding: 0px 18px;
    font-size: 20px;
    }

    #minimal-bootstrap-carousel {
        margin-top: 0px;
        position: relative;
    }
    
    #minimal-bootstrap-carousel .carousel-caption {
        position: absolute;
        top: 158px;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        text-align: right;
        text-shadow: none;
    }
    
    #minimal-bootstrap-carousel .carousel-caption .container {
        display: table;
        width: 100%;
        height: 100%;
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    @media (max-width: 1199px) {
        #minimal-bootstrap-carousel .carousel-caption .container {
            max-width: 960px;
        }
    }
    
    @media (max-width: 991px) {
        #minimal-bootstrap-carousel .carousel-caption .container {
            max-width: 720px;
        }
    }
    
    #minimal-bootstrap-carousel .carousel-caption .container .box {
        display: table-cell;
        text-align: left;
    }
    
    #minimal-bootstrap-carousel .carousel-caption .container .box.valign-top {
        vertical-align: top;
    }
    
    #minimal-bootstrap-carousel .carousel-caption .container .box.valign-bottom {
        vertical-align: bottom;
    }
    
    #minimal-bootstrap-carousel .carousel-caption .container .box.valign-middle {
        vertical-align: middle;
    }
    
    #minimal-bootstrap-carousel .carousel-caption .container .box .content {
        display: block;
    }
    
    #minimal-bootstrap-carousel [class*=carousel-control] {
        background: none;
        width: 50px;
        height: 50px;
        font-size: 36px;
        line-height: 48px;
        color: #fff;
        background-color: transparent;
        visibility: visible !important;
        opacity: 1;
        border: 1px solid #fff;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 99;
    }
    
    @media (max-width: 667px) {
        #minimal-bootstrap-carousel [class*=carousel-control] {
            width: 30px;
            height: 30px;
            font-size: 15px;
            line-height: 30px;
        }
    }
    
    @media (max-width: 480px) {
        #minimal-bootstrap-carousel [class*=carousel-control] {
            width: 40px;
            height: 40px;
            font-size: 17px;
            line-height: 40px;
            background: rgba(255, 255, 255, 0.4);
            color: #000;
        }
    }
    
    #minimal-bootstrap-carousel .carousel-control-prev {
        left: 1%;
    }
    
    #minimal-bootstrap-carousel .carousel-control-next {
        right: 1%;
    }
    
    #minimal-bootstrap-carousel [class*=carousel-control]:hover {
        opacity: 1;
        background: #FFBA60;
        border-color: #FFBA60;
    }
    
    /* fixing slider height */
    #minimal-bootstrap-carousel.slider-home-one .carousel-inner .carousel-item {
        min-height: 1000px;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: #222;
    }
    
    
    .slider-content-style .content {
        text-align: center;
        position: relative;
        z-index: 999;
    }
    
    .slider-content-style .content h3,
    .slider-content-style .content h2,
    .slider-content-style .content p {
        margin: 0;
    }
    
    .slider-content-style .content h3 {
        color: #fff;
        font-size: 100px;
        line-height: 1em;
        font-weight: 600;
        font-family: 'Josefin Sans';
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
    }
    
    .slider-content-style .content p {
        font-family: 'Josefin Sans';
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: .150em;
        margin-top: 20px;
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
    }
    
    .slider-content-style .content a.thm-btn {
        background: #ffba60;
        display: inline-block;
        vertical-align: middle;
        color: #222222;
        font-size: 18px;
        letter-spacing: .1em;
        font-family: 'Josefin Sans';
        font-weight: 600;
        padding: 10px 17px;
        margin-top: 27px;
        transition: all .4s ease;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
    }
    
    .slider-content-style .content a.thm-btn:hover {
        background: #fff;
    }
    .carousel-inner {
        position: relative;
        width: 100%;
        height: 500px;
        overflow: hidden;
    }
    .carousal-image
    {
        width: 50%;
        height: 50%;
    }
    @media (min-width: 768px){
    .d-md-block {
    display: block!important;
    margin-bottom: 352px;
    }
    }
    .home_div2
    {
        height: 500px;
        margin: 70px 0px;
    }
    .home_div2_h1
    {
        text-align: center;
        font-family: 'Pacifico', cursive;
        margin: 20px 0px;
    }
    .home_card
    {
        Font-Family: 'Cormorant Garamond', Serif
    }
    p
    {
        text-align: center;
        color: #c0c2c3;
        letter-spacing: 1px;
        line-height: 26px;
    }
    .card-body
    {
        padding: 0px;
    }
    .card-image
    {
        height: 50%;
        width: 100%;
    }
    .card-footer
    {
        font-size: 27px;
        background: #090942;
        color: white;
    }
    .card-footer-h1
    {
    font-size: 25px;
    font-weight: bold;
    }
    .card-footer-h4
    {
    color: lightgray;
    font-size: 20px;
    font-weight: 600;
    }
  .brand
  {   overflow: hidden;
      height: 100px;
      background-color: #eaebec;
  }
  .serve
  {
      height: 1248px;
      clip-path: polygon(0 1%, 100% 13%, 100% 99%, 0 88%);
    background-color: #2e2e92;
  }
  .serve_image
  {
    height: 1248px;
  }
  .services_heading
  {
      font-weight: 600;
      color: white;
      font-size: 37px;
  }
  .foot
  { 
    clip-path: polygon(0 0%,100% 25%,100% 100%,0 100%);
    width: 100%;
    height: 441px;
    background: #17202A;
    color: white;
    padding-top: 148px;
    /* padding: 28px; */
}
.footer_logo
{
    height: 162px;
    margin-left: -30px;
}
.adderss
{
  line-height: 27px;
}
.fb1
{
  height: 58px;
  float: right;
  padding: 0px 5px;
}
.fb
{
  height: 53px;
  float: right;
  padding: 0px 5px;
}
.contact
{

margin-top: 9px;
font-size: 15px;
font-weight: 100;
color: #dfdfdf;
}
.contact1
{
    padding: 3px 0;
    font-weight: 500;
    font-size: 15.5px;
    letter-spacing: 0.5px;
}
.service-app
{
  font-family: "montserrat-bold", Arial;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 16px 0;
}
.footer
  { 
    height: 62px;
    text-align: center;
    color:white;
    background: black;
 }
 .footer_anlyz
 {
    padding-top: 3px;
    font-size: 19px;
    padding-top: 13px;
    font-weight: 600;

 }
  

 
  
  
      